<p id="notice"><%= notice %></p>

<h1>å‹•ç”»ä¸€è¦§</h1>

<table>
  <thead>
    <tr>
      <th><%= "ðŸ˜Šã†ã‚Œã—ã„ã‚’é¸ã‚“ã å›â†“" %>
    <tr>  
    <tr>
      <th><%= "ðŸ˜¢æ‚²ã—ã„ã‚’é¸ã‚“ã å›â†“" %>
    </tr>
    <tr>
      <th><%= "ðŸ˜¤è…¹ç«‹ã¤ã‚’é¸ã‚“ã å›â†“" %>
    </tr>
    <tr>
      <th><%= "ðŸ˜­æ³£ããŸã„ã‚’é¸ã‚“ã å›â†“" %>
    </tr>
    <tr>
      <td><%= link_to 'â‘ é‰„æ‹³:æŒ¯ã‚Šå­', 'https://youtu.be/EB19So6SNe0' %>
    </tr>
    <tr>
      <td><%= link_to 'â‘¢è±¡ã®èƒŒä¸­:æ—…ç«‹ã¡ã®æ—¥', 'https://youtu.be/SO47Y6x20d8' %>
    </tr>
    <tr>      
      <th><%= "ðŸ˜†ç¬‘ã„ãŸã„ã‚’é¸ã‚“ã å›â†“" %>
    </tr> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


