<%= form_with(model: diary, local: true) do |form| %>
  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>

      <ul>
      <% diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "日付" %>
    <p><%= @push_day %></p>
    <% day = @push_day.split("-") %>
    <%= form.hidden_field "date(1i)", value: day[0] %>
    <%= form.hidden_field "date(2i)", value: day[1] %>
    <%= form.hidden_field "date(3i)", value: day[2] %>   
  </div>

  <div class="field">
    <%= form.label "内容" %>
    <%= form.text_area :comment, id: :diary_comment %>
  </div>

  <div class="field">
    <%= form.label "写真" %>
    <%= form.file_field :photo, id: :diary_photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
