<p id="notice"><%= notice %></p>
<div align="center" style="margin-top:200px;">
<h1>📖 <%= @push_day %> の日記 📖</h1>

<table style="font-size: 130%;">
  <thead>

  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <th>内容</th><td width="400",td style="font-size: 100%;"><%= diary.comment %></td>
      </tr>
      <tr>
        <th>写真</th><td>
        <% if diary.photo.present? %>
          <br>
          <%= image_tag show_image_diary_path(diary), :width => 300 %>
        <% end %>
        </td>
        <td style="font-size: 130%;"><%= link_to '見る', diary %></td>
        <td style="font-size: 130%;"><%= link_to '書き直す', edit_diary_path(diary) %></td>
        <td style="font-size: 130%;"><%= link_to '消す', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @diaries.blank? %>
  <p><%= link_to '日記を書く', new_diary_path %></p>
<% end %> 
<p><%= link_to 'カレンダーに戻る', home_calendar_path %></p>
<p><%= link_to "選択画面に戻る",{controller: 'home', action: 'select'}%></p>
