<p id="notice"><%= notice %></p>

<h1>ðŸ“š æ—¥è¨˜</h1>

<table>
  <thead>

  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <th>æ—¥ä»˜</th><td><%= diary.date %></td>
      </tr>
      <tr>
        <th>å†…å®¹</th><td width="300"><%= diary.comment %></td>
      </tr>
      <tr>
        <th>å†™çœŸ</th><td>
        <% if diary.photo.present? %>
          <%= diary.photo %>
          <br>
          <%= image_tag show_image_diary_path(diary), :width => 100 %>
        <% end %>
        </td>
        <td><%= link_to 'è¦‹ã‚‹', diary %></td>
        <td><%= link_to 'æ›¸ãç›´ã™', edit_diary_path(diary) %></td>
        <td><%= link_to 'æ¶ˆã™', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'æ—¥è¨˜ã‚’æ›¸ã', new_diary_path %>
<%= link_to 'ãƒ¡ãƒ‹ãƒ¥ãƒ¼ç”»é¢ã«æˆ»ã‚‹', home_menu_path %>
<%= link_to 'ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ã«æˆ»ã‚‹', home_calendar_path %>
