<p id="notice"><%= notice %></p>

<h1>📚 <%= @push_day %> の日記 📚</h1>

<table>
  <thead>

  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <th>内容</th><td width="300"><%= diary.comment %></td>
      </tr>
      <tr>
        <th>写真</th><td>
        <% if diary.photo.present? %>
          <%= diary.photo %>
          <br>
          <%= image_tag show_image_diary_path(diary), :width => 100 %>
        <% end %>
        </td>
        <td><%= link_to '見る', diary %></td>
        <td><%= link_to '書き直す', edit_diary_path(diary) %></td>
        <td><%= link_to '消す', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @diaries.blank? %>
  <%= link_to '日記を書く', new_diary_path %>
<% end %> 
<%= link_to 'メニュー画面に戻る', home_menu_path %>
<%= link_to 'カレンダーに戻る', home_calendar_path %>
<%= link_to "選択画面に戻る",{controller: 'home', action: 'select'}%>
