<p id="notice"><%= notice %></p>

<h1>ðŸ““ æ—¥è¨˜</h1>

<table>
  <thead>
    <tr>
      <th>æ—¥ä»˜</th>
    </tr>
    <tr>
      <th>å†…å®¹</th>
    </tr>
    <tr>
      <th>å†™çœŸ</th>
    </tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %>
      <tr>
        <td><%= diary.date %></td>
        <td><%= diary.comment %></td>
        <td><%= diary.photo %></td>
        <td><%= link_to 'è¦‹ã‚‹', diary %></td>
        <td><%= link_to 'æ›¸ãç›´ã™', edit_diary_path(diary) %></td>
        <td><%= link_to 'æ¶ˆã™', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'æ—¥è¨˜ã‚’æ›¸ã', new_diary_path %>
