<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @diary.date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @diary.comment %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag show_image_diary_path(@diary), :width => 300 %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
