<%= form_with(model: glad, local: true) do |form| %>
  <% if glad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(glad.errors.count, "error") %> prohibited this glad from being saved:</h2>

      <ul>
      <% glad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mind %>
    <%= form.select :mind_id, Mind.all.map{ |b| [b.name, b.id] } %>
  </div>

  <div class="field">
    <%= form.label :meigen %>
    <%= form.text_area :meigen, id: :glad_meigen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
