<h1>カレンダー</h1><h3>日にちをクリックしてね</h3>

<% today = @today %>
<% now = @now %>
<table border="1">
 <caption><%= link_to"#{now.last_month.strftime('%m月')}",{controller:'home',action:'calendar',number:-1,now:now}%>　<%= link_to"#{now.strftime('%Y年%m月')}",{controller:'home',action:'calendar',number:0,now:now}%>　<%= link_to"#{now.next_month.strftime('%m月')}",{controller:'home',action:'calendar',number:1,now:now}%></caption>
 <tr height="50px">
   <th width="120px" style="background: lightcoral;"><span style="color: white;">日</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">月</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">火</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">水</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">木</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">金</span></th>
   <th width="120px" style="background: cornflowerblue;"><span style="color: white;">土</span></th>
 </tr>
 <tr>
<% month = now.strftime('%m') %>
<% d = now.at_beginning_of_month.at_beginning_of_week(:sunday) %>
<% 1.upto(5).each do |i| %>
  <tr height="120px">
<% (d..d.end_of_week(:sunday)).each do |c| %>
    <td align="center" style="background: <%= (c == today) ? "cornsilk" : "white" %>;">
      <a href = "http://localhost:3000/home/select"><%= (c.strftime('%m') == month) ? c.strftime('%d') : " " %></a>
    </td>
<% end %>
  </tr>
<% d = d + 1.week %>
<% end %>
</table>    

<p><a href = "http://localhost:3000/home/menu">メニューに戻る</a></p>


