<div align="center"><h1>📅 カレンダー</h1><h3>日にちをクリックしてね</h3><div style="position:absolute; top:7px; left:830px;"><%= image_tag 'バイバイケアマックス２.gif',:width => 120  %></div>


<% today = @today %>
<% now = @now %>
<table border="1" style="font-size: 130%;">
 <caption><%= link_to"#{now.last_month.strftime('%m月')}",{controller:'home',action:'calendar',number:-1,now:now}%>　<%= link_to"#{now.strftime('%Y年%m月')}",{controller:'home',action:'calendar',number:0,now:now}%>　<%= link_to"#{now.next_month.strftime('%m月')}",{controller:'home',action:'calendar',number:1,now:now}%></caption>
 <tr height="50px" style="font-size: 130%;">
   <th width="120px" style="background: lightcoral;"><span style="color: white;">日</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">月</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">火</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">水</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">木</span></th>
   <th width="120px" style="background: gray;"><span style="color: white;">金</span></th>
   <th width="120px" style="background: cornflowerblue;"><span style="color: white;">土</span></th>
 </tr>
 <tr>
<% month = now.strftime('%m') %>
<% d = now.at_beginning_of_month.at_beginning_of_week(:sunday) %>
<% 1.upto(6).each do |i| %>
  <tr height="120px">
<% (d..d.end_of_week(:sunday)).each do |c| %>
    <td align="center" style="background: <%= (c == today) ? "moccasin" : "white" %>;font-size: 130%;">
      <%= link_to "#{(c.strftime('%m') == month) ? c.strftime('%d') : " "}",{controller: 'home', action: 'select', push_day: c}%>
    </td>
<% end %>
  </tr>
<% d = d + 1.week %>
<% end %>
</table></div>    

<p style="font-size: 200%;"><a href = "http://localhost:3000/home/menu">メニューに戻る</a></p>


