<h1>グラフ</h1>
<%= link_to '１月', home_january_path %>
<%= link_to '２月', home_february_path %>
<%= link_to '３月', home_march_path %>
<%= link_to '４月', home_april_path %>
<%= link_to '５月', home_may_path %>
<%= link_to '６月', home_june_path %>
<%= link_to '７月', home_july_path %>
<%= link_to '８月', home_august_path %>
<%= link_to '９月', home_september_path %>
<%= link_to '１０月', home_october_path %>
<%= link_to '１１月', home_november_path %>
<%= link_to '１２月', home_december_path %>

<%= link_to 'メニュー画面に戻る', home_menu_path %>