<h1>グラフ</h1>
<p><font size="3"><%= link_to '１月', home_january_path %></font>
<font size="3"><%= link_to '２月', home_february_path %></font>
<font size="3"><%= link_to '３月', home_march_path %></font></p>
<p><font size="3"><%= link_to '４月', home_april_path %></h2></p>
<p><font size="3"><%= link_to '５月', home_may_path %></h2></p>
<p><h2><%= link_to '６月', home_june_path %></h2></p>
<p><h2><%= link_to '７月', home_july_path %></h2></p>
<p><h2><%= link_to '８月', home_august_path %></h2></p>
<p><h2><%= link_to '９月', home_september_path %></h2></p>
<p><h2><%= link_to '１０月', home_october_path %></h2></p>
<p><h2><%= link_to '１１月', home_november_path %></h2></p>
<p><h2><%= link_to '１２月', home_december_path %></h2></p>

<br><%= link_to 'メニュー画面に戻る', home_menu_path %></br>