<h1> </h1>
<<<<<<< HEAD
<font size="5">
<br><div align="center" style="margin-top:230px;"><%= link_to 'ðŸ’—ã€€ä»Šã®æ°—æŒã¡ç™»éŒ²', hearts_path %></br>
<br><%= link_to 'ðŸ‘€ã€€ã‚°ãƒ©ãƒ•ã‚’è¦‹ã‚‹', home_chart_path %></br>
=======
<font size="5"><span style="line-height:130%">
<br><<div align="center" style="margin-top:210px;"><%= link_to 'ðŸ’—ã€€ä»Šã®æ°—æŒã¡ã‚’ç™»éŒ²ã™ã‚‹', hearts_path %></br>
<br><%= link_to 'ðŸ‘€ã€€ã‚°ãƒ©ãƒ•ã«ç™»éŒ²ã™ã‚‹', home_chart_path %></br>
>>>>>>> 8fdebfdc49ca9e187dc110d7a4fb7bf18285701b
<br><%= link_to 'ðŸ“šã€€äºˆå®šãƒ»æ—¥è¨˜ã‚’æ›¸ã', home_calendar_path %></div></br>
</span></font>
</div>

<p><div align="center"><%= link_to 'ãƒ¡ã‚¤ãƒ³ã«æˆ»ã‚‹', home_main_path %></p>
<div style="position:absolute; top:430px; left:1100px;"><%= image_tag 'ã‚±ã‚¢ãƒžãƒƒã‚¯ã‚¹ç™½æŠœã.gif',:width => 200  %></div>
<div style="position:absolute; top:350px; left:920px;"><%= image_tag 'ãƒ”ãƒ³ã‚¯.gif',:width => 200 %></div>