<h1> </h1>
<font size="5">
<br><div align="center"><%= link_to 'ðŸ’—ã€€ä»Šã®æ°—æŒã¡ç™»éŒ²', hearts_path %></div></br>
<br><div align="center"><%= link_to 'ðŸ‘€ã€€ã‚°ãƒ©ãƒ•ã‚’è¦‹ã‚‹', home_chart_path %></div></br>
<br><div align="center"><%= link_to 'ðŸ“šã€€äºˆå®šãƒ»æ—¥è¨˜ã‚’æ›¸ã', home_calendar_path %></div></br>
</font>

<p><div align="center"><%= link_to 'ãƒ¡ã‚¤ãƒ³ã«æˆ»ã‚‹', home_main_path %></p>
<div style="position:absolute; top:150px; left:280px;"><%= image_tag 'ã‚±ã‚¢ãƒžãƒƒã‚¯ã‚¹.jpg',:width => 150  %></div>
<div style="position:absolute; top:170px; left:150px;"><%= image_tag 'ã©ã‚Œã«ã™ã‚‹.jpg',:width => 130 %></div>