<p id="notice"><%= notice %></p>

<h1>💗 今 の 気 持 ち 💗</h1>

<table>
  <thead>
    <tr>
      <th>気持ち</th>
      <th>日付</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hearts.each do |heart| %>
      <tr>
        <td>
        <% unless heart.mind.blank? %>
        <%=link_to heart.mind.name, glads_path(:mind_id=>heart.mind) %>
        <% end %>
        </td>
        <td><%= heart.date %></td>
        <td><%= link_to '詳細', heart %></td>
        <td><%= link_to '変更', edit_heart_path(heart) %></td>
        <td><%= link_to '削除', heart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '気持ちを登録する', new_heart_path %>
<p><%= link_to 'メニューに戻る', home_menu_path %></p>
