<p id="notice"><%= notice %></p>

<h1>éŸ³æ¥½ä¸€è¦§</h1>

<table>
  <thead>
   <tr>
      <th><%= "ðŸ˜Šã†ã‚Œã—ã„ã‚’é¸ã‚“ã å›â†“" %>
    <tr>  
    <tr>
      <td><%= link_to 'â‘ ã‚†ãšï¼šå¤è‰²','https://youtu.be/5yKMdSdhrXo' %>
    </tr>
    <tr>
      <td><%= link_to 'â‘¡NICO Touches the Wallsï¼šæ‰‹ã‚’ãŸãŸã‘','https://youtu.be/R95cbopCsUg' %>
    </tr>
    <tr>
      <th><%= "ðŸ˜¢æ‚²ã—ã„ã‚’é¸ã‚“ã å›â†“" %>
    </tr>
    <tr>
      <th><%= "ðŸ˜¤è…¹ç«‹ã¤ã‚’é¸ã‚“ã å›â†“" %>
    </tr>
    <tr>
      <td><%= link_to 'â‘ ã‚¸ãƒ–ãƒª:ã‚®ã‚¿ãƒ¼', 'https://youtu.be/wKl8nO5y5PY' %>
  ã€€</th> 
    <tr>
      <td><%= link_to 'â‘¡ãƒ‡ã‚£ã‚ºãƒ‹ãƒ¼:ã‚ªãƒ«ã‚´ãƒ¼ãƒ«', 'https://youtu.be/0EOyiuf2uWQ' %>
    </tr>
    <tr>
      <th><%= "ðŸ˜­æ³£ããŸã„ã‚’é¸ã‚“ã å›â†“" %>
    </tr>
    <tr>      
      <th><%= "ðŸ˜†ç¬‘ã„ãŸã„ã‚’é¸ã‚“ã å›â†“" %>
    </tr> 
   
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= link_to 'Show', music %></td>
        <td><%= link_to 'Edit', edit_music_path(music) %></td>
        <td><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
