<p id="notice"><%= notice %></p>

<div align="center" style="margin-top:230px;">

<h1>éŸ³æ¥½ä¸€è¦§</h1>

<table>
  <thead>
   <tr>
      <th><%= "ðŸ˜Šã†ã‚Œã—ã„ã‚’é¸ã‚“ã å›â†“" %>
    <tr>  
    <tr>
      <td><%= link_to 'â‘ ã‚†ãšï¼šå¤è‰²','https://youtu.be/5yKMdSdhrXo' %>
    </tr>
    <tr>
      <td><%= link_to 'â‘¡NICO Touches the Wallsï¼šæ‰‹ã‚’ãŸãŸã‘','https://youtu.be/MTcqIgVBfuk' %>
    </tr>
    <tr>
      <th><%= "ðŸ˜¢æ‚²ã—ã„ã‚’é¸ã‚“ã å›â†“" %>
    </tr>
    <tr>
      <td><%= link_to 'â‘ SEKAI NO OWARIï¼šRPG','https://youtu.be/Mi9uNu35Gmk' %>
    </tr>
    <tr>
      <td><%= link_to 'â‘¡FANKY MONKY BABYSï¼šã‚ã¨ã²ã¨ã¤','https://youtu.be/ir5cF-EvBig' %>
    </tr>
    <tr>
      <th><%= "ðŸ˜¤è…¹ç«‹ã¤ã‚’é¸ã‚“ã å›â†“" %>
    </tr>
    <tr>
      <td><%= link_to 'â‘ ã‚¸ãƒ–ãƒª:ã‚®ã‚¿ãƒ¼', 'https://youtu.be/wKl8nO5y5PY' %>
  ã€€</th> 
    <tr>
      <td><%= link_to 'â‘¡ãƒ‡ã‚£ã‚ºãƒ‹ãƒ¼:ã‚ªãƒ«ã‚´ãƒ¼ãƒ«', 'https://youtu.be/0EOyiuf2uWQ' %>
    </tr>
    <tr>
      <th><%= "ðŸ˜­æ³£ããŸã„ã‚’é¸ã‚“ã å›â†“" %>
    </tr>
    <tr>
      <td><%= link_to 'â‘ AIï¼šStory','https://youtu.be/9JBIzFGy4EU' %>
    </tr>
    <tr>
      <td><%= link_to 'â‘¡å‰ç”°å±±ç”°ï¼šæ—¥ã€…','https://youtu.be/4J9AcO6LrfM' %>
    </tr>
    <tr>      
      <th><%= "ðŸ˜†ç¬‘ã„ãŸã„ã‚’é¸ã‚“ã å›â†“" %>
    </tr> 
    <tr>
      <td><%= link_to 'â‘ AIï¼šãƒãƒ”ãƒã‚¹','https://youtu.be/uKgmu8g-kXE' %>
    </tr>
    <tr>
      <td><%= link_to 'â‘¡GReeeeNï¼šGreen boys','https://youtu.be/2rLraPLoBpI' %>
    </tr>
   
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= link_to 'Show', music %></td>
        <td><%= link_to 'Edit', edit_music_path(music) %></td>
        <td><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="position:absolute; top:500px; left:-50px;"><%= image_tag 'æ¨ªã‹ã‚‰ã‚±ã‚¢ãƒžãƒƒã‚¯ã‚¹.gif',:width => 180  %></div>
<div style="position:absolute; top:480px; left:160px;"><%= image_tag 'fukidashi3.gif',:width => 180 %></div>
