<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "いつ？" %>
    <p><%= @push_day %></p>
    <% day = @push_day.split("-") %>
    <%= form.hidden_field "date(1i)", value: day[0] %>
    <%= form.hidden_field "date(2i)", value: day[1] %>
    <%= form.hidden_field "date(3i)", value: day[2] %>   

  </div>

  <div class="field">
    <%= form.label "だれと？" %>
    <%= form.text_field :people, id: :plan_people %>
  </div>

  <div class="field">
    <%= form.label "どこで？" %>
    <%= form.text_field :where, id: :plan_where %>
  </div>

  <div class="field">
    <%= form.label "なにする？" %>
    <%= form.text_field :what, id: :plan_what %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
