<p id="notice"><%= notice %></p>

<h1>📙 <%= @push_day %> の予定 📙</h1>

<table>
  <thead>
    <th>だれと？</th>
      <th>どこで？</th>
      <th>何を？</th>
      <th colspan="3"></th>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.people %></td>
        <td><%= plan.where %></td>
        <td><%= plan.what %></td>
        <td><%= link_to '詳細', plan %></td>
        <td><%= link_to '変更', edit_plan_path(plan) %></td>
        <td><%= link_to '削除', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '予定を追加', new_plan_path %>
<p><%= link_to 'カレンダーに戻る', home_calendar_path %></p>
<%= link_to "選択画面に戻る",{controller: 'home', action: 'select'}%>

