<p id="notice"><%= notice %></p>
<div align="center" style="margin-top:230px;">
<h1>📙 <%= @push_day %> の予定 📙</h1>

<table style="font-size: 130%;">
<thead>
    <th>だれと？</th>
      <th>どこで？</th>
      <th>何を？</th>
      <th colspan="3"></th>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <p><tr>
        <td style="font-size: 130%;"><%= plan.people %></td>
        <td style="font-size: 130%;"><%= plan.where %></td>
        <td style="font-size: 130%;"><%= plan.what %></td>
        <td style="font-size: 130%;"><%= link_to '詳細', plan %></td>
        <td style="font-size: 130%;"><%= link_to '変更', edit_plan_path(plan) %></td>
        <td style="font-size: 130%;"><%= link_to '削除', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr></p>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to '予定を追加', new_plan_path %></p>
<p><%= link_to 'カレンダーに戻る', home_calendar_path %></p>
<p><%= link_to "選択画面に戻る",{controller: 'home', action: 'select'}%></p>

