<div align="center" style="margin-top:260px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>いつ？:</strong>
  <%= @plan.date %>
</p>

<p>
  <strong>だれと？:</strong>
  <%= @plan.people %>
</p>

<p>
  <strong>どこで？:</strong>
  <%= @plan.where %>
</p>

<p>
  <strong>何する？:</strong>
  <%= @plan.what %>
</p>

<%= link_to '変更', edit_plan_path(@plan) %> |
<%= link_to '戻る', plans_path %>
