<p id="notice"><%= notice %></p>

<h1>名言集</h1>

<table>
  <thead>
    <tr>
      <th>名言</th>
      <th>気持ち</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glads.each do |glad| %>
      <tr>
        <td><%= glad.meigen %></td>
      　<td><%= glad.mind.name %></td>
        <td><%= link_to 'Show', glad %></td>
        <td><%= link_to 'Edit', edit_glad_path(glad) %></td>
        <td><%= link_to 'Destroy', glad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '名言を登録する', new_glad_path %>
<br>

<%= link_to '音楽', musics_path %>
<%= link_to '動画', movies_path %>



